body {
  font-family: "Pretendard-Regular", sans-serif;
  background: var(--main-bg);
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}
