# Nuxt (프론트엔드)
clent/.nuxt/
clent/.output/
clent/node_modules/
clent/.env
clent/.data
clent/.nitro
clent/.cache
clent/dist

# Python (백엔드)
server/__pycache__/
server/venv/
server/.env*
server/scripts/dev_only/
server/firebase-key.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
