:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #2ecc71;
  --accent-color: rgb(225, 148, 255);
  --main-color: #083d77;
  --main-bg: rgb(0, 18, 37);
  --sub-bg: rgb(255, 255, 255);
  --main-font-color: rgb(255, 255, 255);
  --footer-bg: #083d77;
}

.dark-mode {
  --primary-color: #1abc9c;
  --secondary-color: #e74c3c;
  --accent-color: #f1c40f;
}
